@import "tailwindcss";

.btn {
    @apply text-white rounded-lg p-2 cursor-pointer shadow-lg shadow-gray-300 hover:shadow-2xs;
}

.input {
    @apply bg-white w-md px-3 py-1 mx-2 rounded-md;
}

.active-link {
    @apply text-yellow-300 text-2xl;
}

.inactive-link {
    @apply text-white;
}